/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic Layout */
.wrapper {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: minmax(250px, 1fr) 4fr;
  grid-template-rows: auto 1fr;
}

header {
  grid-column: 2;
  grid-row: 1;
}

.sidebar {
  grid-column: 1;
  grid-row: 1 / 3;
}