/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Font */
body {
  font-family: 'Inter', sans-serif;
}

/* Basic Layout */
.wrapper {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: minmax(250px, 1fr) 4fr;
  grid-template-rows: auto 1fr;
}

header {
  grid-column: 2;
  grid-row: 1;
}

.sidebar {
  grid-column: 1;
  grid-row: 1 / 3;
}

main {
  grid-column: 2;
  grid-row: 2 / 3;
}

/* Header Section Layout */
.header__controls,
.header__intro,
.search,
.info,
.user-greeting,
.buttons-info {
  display: flex;
}

/* Sidebar Section Layout */
.sidebar,
.first-nav ul,
.second-nav ul {
  display: flex;
  flex-direction: column;
}

.nav-wrapper {
  flex-grow: 1;
}

/* Main Content Section Layout */
main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.articles {
  grid-column: 1;
  grid-row: 1 / 3;

  display: flex;
  flex-direction: column;
}

.announcements {
  grid-column: 2;
  grid-row: 1;

  display: flex;
  flex-direction: column;
}

.trends {
  grid-column: 2;
  grid-row: 2;

  display: flex;
  flex-direction: column;
}

/* Articles Section */
.articles-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));

  flex-grow: 1;
}

/* Announcements Section */
.announcements-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);

  flex-grow: 1;
}

/* Trends Section */
.trends-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);

  flex-grow: 1;
}